<div class="panel panel-default">
  <div class="panel-heading">
    <p>In a hurry? Please feel free to sign in with default test credentials: test@test.com and 'password'</p>
  </div>

  <div class="panel-body">
    <div class="col-lg-4">
      <form class="form-signin" name="form" ng-submit="login()">
        <h2 class="form-signin-heading">Log In</h2>
        <label>Email: </label>
        <input autofocus="true" class="form-control" type="email" placeholder="Email" name="email" ng-model="credentials.email" required="required">
        <div class="bg-danger" ng-messages="form.email.$error" ng-if="form.email.$touched">
          <div ng-message="required">Email is a required field!</div>
        </div><br>
        <label>Password: </label>
        <input class="form-control" type="password" name="password" placeholder="Password" ng-model="credentials.password" required="required">
        <div class="bg-danger" ng-messages="form.password.$error" ng-if="form.password.$touched">
          <div ng-message="required">Password is a required field!</div>
        </div><br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log In">
        <div class="bg-danger" ng-if="error">
          {{error}}
        </div>
      </form><br>
    </div>
  </div>
</div>