<div class="panel panel-body">
  <div class="col-lg-4">
    <form class="form-signin" name="form" ng-submit="register()">
      <h2 class="form-signin-heading">Register as a New User</h2>
      <label>Email: </label>
      <input autofocus="true" class="form-control" name="email" type="email" placeholder="Email Address" ng-model="credentials.email" required="required" />
      <div class="bg-danger" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-message="required">Email is a required field!</div>
        <div ng-message="email">Must be a valid email address!</div>
      </div><br>
      <label>Username:</label>
      <input class="form-control" name="username" type="text" placeholder="Username" ng-model="credentials.username" required="required" minlength="4" />
      <div class="bg-danger" ng-messages="form.username.$error" ng-if="form.username.$touched">
        <div ng-message="required">Username is a required field!</div>
        <div ng-message="minlength">Minimum username length is 4!</div>
      </div><br>
      <label>Password:</label>
      <input class="form-control" name="password" type="password" placeholder="Password" ng-model="credentials.password" required="required" minlength="8" />
      <div class="bg-danger" ng-messages="form.password.$error" ng-if="form.password.$touched">
        <div ng-message="required">Password is a required field!</div>
        <div ng-message="minlength">Minimum password length is 8!</div>
      </div><br>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
    </form><br>
  </div>