<h1>My Recipes</h1>
Search: <input ng-model="ctrl.search" ng-model-options="{updateOn: 'default blur', debounce: {'default': 200, 'blur': 0}}"/>

<ul>
  <li ng-repeat="recipe in ctrl.myFilteredList | filter:ctrl.search:strict" ng-hide="recipe.hide">
    <h3><a href="#" ui-sref="home.recipe({id: recipe.id})">{{ recipe.recipe.title }}</a></h3>
    <div ng-if="current_user.id == recipe.user_id">
      <a href="#" ui-sref="home.edit({id: recipe.id})">Edit Recipe</a>
      <a href="" ng-click="ctrl.deleteRecipe(recipe)">Delete Recipe</a>
    </div>
  </li>
</ul>