<h1>Add Recipe</h1>

<form name="form" ng-submit="ctrl.createRecipe()">
  <label>Title:</label><br>
  <input autofocus="true" name="title" type="text" ng-model="ctrl.newRecipe.title" required="required">
  <div class="bg-danger" ng-messages="form.title.$error" ng-if="form.title.$touched">
    <div ng-message="required">Title is a required field!</div>
  </div><br><br>
  <label>Ingredients:</label><br>
  <textarea class="form-control" name="ingredients" rows="16" cols="75" ng-model="ctrl.newRecipe.ingredients" required="required"></textarea>
  <div class="bg-danger" ng-messages="form.ingredients.$error" ng-if="form.ingredients.$touched">
    <div ng-message="required">Ingredients is a required field!</div>
  </div><br><br>
  <label>Instructions:</label><br>
  <textarea class="form-control" name="instructions" rows="16" cols="75" ng-model="ctrl.newRecipe.instructions" required="required"></textarea>
  <div class="bg-danger" ng-messages="form.instructions.$error" ng-if="form.instructions.$touched">
    <div ng-message="required">Instructions is a required field!</div>
  </div><br><br>
  <input type="submit" value="Add Recipe">
</form>