<div class="panel panel-default">
  <div class="panel-heading">
    <h1>About this App:</h1>
  </div>

  <h3 class="panel-body">Hi, I'm Jake! This app was built as a learning experience with the Flatiron School.<br><br>

  This site features an AngularJS front end which calls to a Rails API server on the back end.  Users are authenticated through Devise, passwords are encrypted, and data persists in a Postgres database.<br><br>
  Comments and pull requests are welcome at <a href="https://github.com/jakebrady5/cooknook">GitHub.</a></h3>
</div>