<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Edit Recipe</h2>
  </div>

    <form name="form" validate ng-submit="ctrl.editRecipe()">

    <div class="panel-body">
      <label>Title:</label><br>
      <input autofocus="true" name="title" type="text" ng-model="ctrl.recipe.title" required="required">
      <div class="bg-danger" ng-messages="form.title.$error" ng-if="form.title.$touched">
        <div ng-message="required">Title is a required field!</div>
      </div><br><br>

      <label>Total Time:</label>
      <select name="duration">
        <option value="0">< 30 minutes</option>
        <option value="1">30-60 minutes</option>
        <option value="2">> 60 minutes</option>
      </select><br><br>

      <label>Ingredients:</label><br>
      <textarea name="ingredients" rows="16" cols="75" ng-model="ctrl.recipe.ingredients" required="required"></textarea>
      <div class="bg-danger" ng-messages="form.ingredients.$error" ng-if="form.ingredients.$touched">
        <div ng-message="required">Ingredients is a required field!</div>
      </div><br><br>

      <label>Instructions:</label><br>
      <textarea name="instructions" rows="16" cols="75" ng-model="ctrl.recipe.instructions" required="required"></textarea>
      <div class="bg-danger" ng-messages="form.instructions.$error" ng-if="form.instructions.$touched">
        <div ng-message="required">Instructions is a required field!</div>
      </div><br><br>

      <input type="submit" value="Update Recipe">
      <br><br><br>
    </div>

  </form>