<div>
  <h1>Log In</h1>
</div>

<div>
  <form name="form" ng-submit="login()">
    <label>Email: </label>
    <input type="email" placeholder="Email" name="email" ng-model="credentials.email" required="required">
    <div ng-messages="form.email.$error" ng-if="form.email.$touched">
      <div ng-message="required">Email is a required field!</div>
    </div><br>
    <label>Password: </label>
    <input type="password" name="password" placeholder="Password" ng-model="credentials.password" required="required">
    <div ng-messages="form.password.$error" ng-if="form.password.$touched">
      <div ng-message="required">Password is a required field!</div>
    </div><br>
    <input type="submit" value="Log In">
  </form>
</div>