<span ng-controller="DeviseController">
  <span ng-show="loggedIn()" >
    <a ng-show="loggedIn()" href="">Hi {{ current_user.username }}!</a>
    <a href="#" ui-sref="home.recipes" ui-sref-active="active">All Recipes</a>
    <a href="#" ui-sref="home.my_recipes" ui-sref-active="active">My Recipes</a>
    <a href="#" ui-sref="home.new" ui-sref-active="active">New Recipe</a>
    <a ng-show="loggedIn()" href="" ng-click="logout()" ui-sref="home">Log Out</a>
  </span>
  <a ng-hide="loggedIn()" href="" ui-sref="home.login">Log In</a>
  <a href="" ng-hide="loggedIn()" ui-sref="home.signup">Sign Up</a>
</span>
