<nav class="navbar">
  <div class="btn-group container-fluid">
    <span class="nav navbar-nav" ng-controller="DeviseController">
      <span ng-show="loggedIn()" >
        <button class="btn btn-default" href="#" ui-sref="home.home" ui-sref-active="active">Hi {{ current_user.username }}!</button>
        <button class="btn btn-default" href="#" ui-sref="home.recipes" ui-sref-active="active">All Recipes</button>
        <button class="btn btn-default" href="#" ui-sref="home.my_recipes" ui-sref-active="active">My Favorite Recipes</button>
        <button class="btn btn-default" href="#" ui-sref="home.new" ui-sref-active="active">New Recipe</button>
      </span>
      <button class="btn btn-default" href="#" ui-sref="home.about" ui-sref-active="active">About</button>
      <button class="btn btn-default"  ng-show="loggedIn()" href="" ng-click="logout()" ui-sref="home">Log Out</button>
      <button class="btn btn-default" ng-hide="loggedIn()" href="" ui-sref="home.login">Log In</button>
      <button class="btn btn-default" href="#" ng-hide="loggedIn()" ui-sref="home.signup">Sign Up</button>
    </span>
  </div>
</nav>